<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/ivan-man/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ivan-man" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>